
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<html>
<body>
    <script language="javascript">
        // Hàm tính kết quả
        function tinh() {
           
            let a = document.getElementById("a").value;
            let b = document.getElementById("b").value;
            let c = document.getElementById("c").value;
            var result = document.getElementById("result");


            
            if ((a + b > c) ||
                (a + c > b) ||
                (b + c > a)) {
                result.value = "Đây là tam giác !";
            }
            if ((a == b) || (b == c) || (c == a)) {
                result.value = "Đây là tam giác cân !";
            } else if ((a == b) && (b == c) && (c == a)) {
                result.value = "Đây là tam giác đều !";
            } else if ((a * a == b * b + c * c) || (b * b == a * a + c * c) || (c * c == b * b + a * a)) {
                result.value = "Đây là tam giác vuông !";
            }
            else {
                result.value = "Đây không phải tam giác";
            }
            
        }
    </script>
    <br />
    <form action="TamGiac" method="get">
        a: <input type="number" name="a" id="a" value="" onkeyup="tinh()" />
        <br />
        b: <input type="number" name="b" id="b" value="" onkeyup="tinh()" />
        <br />
        c: <input type="number" name="c" id="c" value="" onkeyup="tinh()" />
        <br />
        Kết quả: <input type="text" id="result" value="" />
        <input type="submit" />
        @ViewBag.Alert
    </form>
</body>
</html>
